.control {
  position: relative;

  padding-left: 28px;
  
  font-family: inherit;
  font-size: 1rem;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
  list-style: none;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9 18 6-6-6-6' stroke='%23333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  &:focus {
    outline: none;
    color: var(--color-highlight);
  }
}

.controlExpanded {
  &::before {
    transform: rotate(90deg);
  }
}

.list {
  padding-left: 28px;
  padding-top: 8px;

  list-style: none;

  & li + li {
    margin-top: 8px;
  }
}
